{% extends 'portfolio/base.html' %}

{% block content %}

    {% load static %}
<div class="me-row">
    <div class="intro-column">
        <h1>Welcome to My world!!</h1>
        <p>Hi. I am Anisha</p>
        <p>I am an eager to learn developer who likes working on python. Check out some of my work below and feel free to get in touch if you are interested to work with me.</p>
    </div>
    <div class="photo-column">   
        <img src="{% static 'portfolio/photo.jpeg' %}" >
    </div>
</div>

<div class="project-row ">
    
    <h2 class="heading">My Projects</h2>

    {% for project in projects %}
    <div class="project-column">

    {% if project.url %}

        <a href="{{ project.url }}"><img src="{{ project.image.url }}" width="200" length="200"></a>
    {% else %}
        <img src="{{ project.image.url }}" >
    {% endif %}

        <h5>{{ project.title }}</h5>
        <p>{{ project.description }}</p>
    </div>
    {% endfor %}

</div>

<footer>
    <div class="social-icons">
        <a class="linked-in-icon" href="www.linkedin.com/in/anisha-manjhi"><img src="{% static 'portfolio/linkedin.png' %}" width="23" length="23"></a>
        <a class="angellist-icon" href="https://angel.co/u/anisha-manjhi"><img src="{% static 'portfolio/angellist.png' %}" width="23" length="23"></a>
    </div>
</footer> 
{% endblock %}

