.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(#fff,#DAE0E5);
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    position: sticky;
    top: 0px;
    z-index: 999;
}
#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}
a.btn.btn-primary.btn-lg.active {
    padding: 0.25rem 2.5rem;
    border-radius: 0.7rem;
}
.me-row{
    display:flex;
}
.intro-column{
    display:block;
    max-width:48%;
    background-colour:rgba(4, 34, 31, 0.24);
}
.photo-column{
    display:block;
    max-width:48%;
}
.project-column{
    display:block;
    max-width:48%;
    background-colour:rgba(4, 34, 31, 0.24);
}
.social-icons{
    justify-content:center;
}
footer{
    background-image:url("footerbg.jpeg");
}
